/h2o-vasp/gam/XDATCAR
/h2o-vasp/gam/WAVEDER
/h2o-vasp/gam/#run#
/h2o-vasp/gam/CHG
/h2o-vasp/gam/CHGCAR
/h2o-vasp/gam/CONTCAR
/h2o-vasp/gam/DOSCAR
/h2o-vasp/gam/EIGENVAL
/h2o-vasp/gam/FirstOrbL_0
/h2o-vasp/gam/FirstOrbL_1
/h2o-vasp/gam/IBZKPT
/h2o-vasp/gam/INCAR
/h2o-vasp/gam/OPTIC
/h2o-vasp/gam/OSZICAR
/h2o-vasp/gam/PCDAT
/h2o-vasp/gam/POTCAR
/h2o-vasp/gam/REPORT
/h2o-vasp/gam/WAVECAR
/h2o-vasp/gam/WAVECAR.GTO
/h2o-vasp/gam/cc4s.in
/h2o-vasp/gam/cc4s.out.yaml
/h2o-vasp/gam/slurm-2609753.out
/h2o-vasp/gam/slurm-2609755.out
/h2o-vasp/gam/vasprun.xml
/h2o-vasp/std/CHG
/h2o-vasp/std/CHGCAR
/h2o-vasp/std/CONTCAR
/h2o-vasp/std/DOSCAR
/h2o-vasp/std/EIGENVAL
/h2o-vasp/std/FirstOrbL_0
/h2o-vasp/std/FirstOrbL_1
/h2o-vasp/std/IBZKPT
/h2o-vasp/std/INCAR
/h2o-vasp/std/OPTIC
/h2o-vasp/std/OSZICAR
/h2o-vasp/std/PCDAT
/h2o-vasp/std/POTCAR
/h2o-vasp/std/REPORT
/h2o-vasp/std/WAVECAR
/h2o-vasp/std/WAVECAR.GTO
/h2o-vasp/std/WAVEDER
/h2o-vasp/std/XDATCAR
/h2o-vasp/std/cc4s.in
/h2o-vasp/std/cc4s.out.yaml
/h2o-vasp/std/dry-cc4s.out.yaml
/h2o-vasp/std/slurm-2609753.out
/h2o-vasp/std/vasprun.xml